h1{
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 18pt;
}

ul {
    list-style-type: none;
    overflow: hidden;
    position:absolute; /* Tells Menu to ignore the size and position of container */
    width:100%; /* Div to be 100% in Width */
    top:0; /* This sets the menu to the top increase number for distance */
    left:0; /* This sets where it should start from left to right */
    height:8%; /* This sets the height of the menu */
    padding: 0px;
    background-color: white;
    text-align:center;
}

li {
    float: right;
    width: 150px;
    font-size: 12px;
    height: 100%;
}

li a {
    display: block;
    color: gray;
    text-align: center;
    padding:  14px 16px;
    text-decoration: none;
    /* border: 1px solid #000000; checker for box size*/
    font-size: 16px;
    border-style: solid;
    border-right-width: 1px;
    border-right-color: lightgray;
}

li a:hover:not(.active) {
    background-color: #419b96;
    color: white;
}

.active {
    background-color: #4aaaa5;
    color: white;
}

.active:hover{
    background-color: #419b96;
}

.page{
    background-image: url("../images/funky-lines.png");
    align-content: left;
}

.navTitle{
    float: left;
    margin-left: 300px;
    padding: 10px;
    color: white;
    background: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 14pt;
    text-align: center;
    height: 100%;
}

.centerTable{
    width: 960px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    position: static;
    background: white;
    border: 1px solid #dddddd;
}

hr {
    /* Change the <hr> call */
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #dddddd;
    margin: 1em 0;
    padding: 0;
}

p{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    color: #777777;
    margin-bottom: 10px;
}

img{
    position:relative; top:0; left:0;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    color: white;
    padding: 14px 20px;
    margin: 0px 0;
    border: none;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    /* padding: 12px 20px; */
    border: none;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #419b96;
}

.container {
    background-color: white;
}

.submit{
    padding: 20px 0px 20px 0px;
    margin: 0 0 0 0;
    width: 150px;
}

#imageMain {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}

#imageMain img {
    vertical-align: middle;
}