
@font-face { font-family: ADV; src: url('../images/Adventure\ Time\ Logo.ttf');}

.container{
    width: 600px;
    padding: 0;
}

h1{
    font-family: ADV;
}

/* Used to check layout */
/* div{
    border: 1px;
    border-style: solid;
    border-color: aqua;
    padding: 0px;
    margin: 0px;
} */

.start{
    position: absolute;
    top: 335px;
    width: 600px;
    text-align: center;
    background-color: yellow;
    visibility: visible;
}

.banner{
    background-image: url("../images/banner.jpg");
    background-position: top center;
    height: 700px;
    width: 600px;
    background-size: cover;
}

.gameOPT{
    visibility: hidden;
}

.time{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
    background-color: yellow;
}

.quiz{
    visibility: hidden;
    position: absolute;
    top: -100px;
    width: 600px;
}

.end{
    visibility: hidden;
    position: absolute;
    top: 100px;
}